<div class="mx-auto mt-20" style="width: 400px;">
  <span class="font-bold text-blue-900 border-b-2 text-3xl border-blue-900">
    Edit Movie
  </span>
  <div class="mt-8">
    <%= render "form", movie: @movie %>
  </div>
</div>
