<div class="mx-auto mt-20" style="width: 800px;">
  <div class="flex flex-row bg-white">
    <div class="w-1/4 h-48 flex">
      <% if @movie.image.attached? %>
        <%= image_tag @movie.image, class: 'h-full px-4 py-4' %>
      <% else %>
        <div class="text-center m-auto px-3 py-3 text-blue-600 font-bold">
          * No image yet
        </div>
      <% end %>
    </div>
    <div class="w-3/4 flex flex-col py-4 pr-4">
      <div>
        <span class="text-blue-900 font-bold text-3xl">
          <%= @movie.title %>
        </span>
        <span class="text-gray-500 text-lg">
          <%= @movie.year %>
        </span>
      </div>
      <div class="text-gray-500 text-lg">
          <%= @movie.overview %>
      </div>
    </div>
  </div>
</div>
